.footer {
  display: flex;
  padding: 0 165px;
  height: 510px;
  background: $basicBlue;
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 231px;
  }
  &__logo {
    margin-top: 56px;
    margin-bottom: 64px;
    width: 208px;
    height: 39px;
  }
  &__address {
    margin-bottom: 32px;
    width: 193px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $basicWhite;
  }
  &__email {
    margin-bottom: 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $basicWhite;
  }
  &__btn {
    margin-bottom: 75px;
  }
  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $basicWhite;
  }
  &__links {
    display: flex;
    flex-direction: column;
    width: 730px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
    width: 698px;
  }

  &__list-title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
  }
  &__list-item {
    height: 17px;
  }
  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $basicWhite;
    text-decoration: none;
  }
  &__social-links {
    display: flex;
    gap: 20px;
    margin-top: 70px;
    align-self: end;
  }
}
