.footer {
  display: flex;

  height: 510px;
  padding: 0 165px;
  background: red;
  &__container {
    display: flex;
    flex-direction: column;
    margin-right: 149px;
    width: 231px;
  }
  &__logo {
    margin-top: 56px;
    margin-bottom: 64px;
    width: 208px;
    height: 39px;
  }
  &__address {
    margin-bottom: 32px;
    width: 193px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $basicWhite;
  }
  &__email {
    margin-bottom: 46px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: $basicWhite;
  }
  &__btn {
    margin-bottom: 75px;
  }
  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $basicWhite;
  }
}
