@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;800&display=swap');
@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './variables.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: $basicBlue;
}
body {
  height: 100%;
  width: 100%;
}
.telephone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 23px;
  width: 181px;
  height: 24px;
  &__icon {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }
  &__phone-number {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
  }
}
.footer__telephone {
  margin-top: 0px;
  margin-bottom: 40px;
}
.btn {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 9px 22px;
  height: 44px;
  background-color: $basicYellow;
  border-radius: 12px;
  border-color: transparent;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  cursor: pointer;
  &__logo {
    width: 18px;
    height: 18px;
  }
}
